@layer base, starlight, theme, components, utilities;
@import 'tailwindcss';
@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-title: 'Oswald Variable', 'sans-serif';
  --font-sans: 'Roboto', 'sans-serif';
  --color-blue: #4f6a9e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gold: #c7b66b;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 8rem auto;
  max-width: 1350px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.debug {
  border: 1px solid red;
}

p {
  margin-bottom: 1rem;
}

/* Custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gold);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}

.md-content ul {
  margin-bottom: 1.5rem;
}

.md-content li {
  list-style-type: square;
  margin-left: 1.5rem;
}

/* Swiper styles */

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-white) !important;
  background-color: var(--color-gold) !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  transition-duration: 0.2s !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--color-blue) !important;
  color: var(--color-white) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-gold) !important;
}
