@layer base, starlight, theme, components, utilities;
@import "tailwindcss";
@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    --font-title: 'Oswald Variable', 'sans-serif';
    --font-sans: 'Urbanist Variable', 'sans-serif';
    --color-blue: #4f6a9e;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gold: #c7b66b;
}

.container {
    margin: 8rem auto;
    max-width: 1200px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.debug {
    border: 1px solid red;
}

p {
    margin-bottom: 1rem;
}