---
// Libs
import { clsx } from 'clsx'
import { useTranslations } from '../../i18n/utils'


// Data
import { navLinks } from '../../data/nav'
import { socialLinks, contactClassicLinks } from '../../data/contact'

// Components
import LinksList from '../ui/LinksList.astro'

// i18n
const { lang } = Astro.params as any
const t = useTranslations(lang)

const navLinksLang = navLinks.map((item) => {
  return {
    ...item,
    text: t(`nav.links.${item.text}`),
  }
})
---

<footer
  class={clsx(
    'footer',
    'gap-8 md:gap-0',
    'justify-between',
    'bg-black',
    'text-white',
    'pt-12'
  )}
>
  <small class={clsx('container', 'flex', 'flex-col', '!my-0')}>
    <!--footer nav links -->
    <LinksList links={navLinksLang} />

    <!-- Text -->
    <p
      class={clsx(
        'text-center',
        'text-sm',
        '!my-12',
        'opacity-60',
        'max-w-[750px]',
        'mx-auto',
        'inline-block'
      )}
    >
      {t("footer.text")}
    </p>

    <!-- Socials -->
    <LinksList links={contactClassicLinks} />
    <br>
    <LinksList links={socialLinks} />

    <!-- Copyright -->
    <p
      class={clsx(
        'text-center',
        'w-full',
        'opacity-60',
        'mt-8',
        '!mb-0',
      )}
    >
      Powered by 
      <a
        href='https://www.astro.build/'
        target='_blank'
        class={clsx(
          'hover:text-gold',
          'duration-300',
          'cursor-pointer'
        )}
        >
        Dari Dev's Team 
      </a> 
        &copy; {new Date().getFullYear()} | Cancun Concierge DMC {t("footer.rights")}
    </p>
  </small>
</footer>
