---
import clsx from "clsx";

import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.params as any;
const t = useTranslations(lang);

const images = import.meta.glob('/public/galery/*.{jpg,jpeg,png,webp}', {
  eager: true,
  as: 'url',
});

const imageUrls = Object.values(images);
---

<title>{t('gallery.title')}</title>
<section id="gallery" class={clsx(
  "container", 
  "w-full",
  "px-0"
)}>
  <div class={clsx(
    "columns-[280px]",
    "gap-2", 
    "space-y-3"
  )}>
    {imageUrls.map((url) => (
      <img
        src={url}
        alt={`${t('gallery.photoAlt')} ${url.split('/').pop()?.split('.')[0].replace(/-/g, ' ')}`}
        class={clsx(
          "w-full", 
          "rounded-lg", 
          "break-inside-avoid"
        )}
      />
    ))}
  </div>
</section>
