---
// Libs
import clsx from 'clsx'
import { useTranslations } from '../../i18n/utils'

// i18n
const { lang } = Astro.params as any
const t = useTranslations(lang)

// Components
import Title from '../ui/Title.astro'

// Get images from folder
const images = import.meta.glob('/public/galery/*.{jpg,jpeg,png,webp}', {
  eager: true,
  as: 'url',
})

const imageUrls = Object.values(images)
---

<section
  id='gallery'
  class={clsx('container', 'w-full', 'px-0', '!my-12')}
>
  <Title>{t('gallery.title')}</Title>
  <div class={clsx('columns-[280px]', 'gap-2', 'space-y-3')}>
    {
      imageUrls.map((url) => (
        <img
          src={url}
          alt={`${t('gallery.photoAlt')} ${url.split('/').pop()?.split('.')[0].replace(/-/g, ' ')}`}
          class={clsx('w-full', 'rounded-lg', 'break-inside-avoid')}
        />
      ))
    }
  </div>
</section>
