---
// Components
import TestimonialCard from '../ui/TestimonialCard.astro'

// Libs
import { useTranslations } from '../../i18n/utils'

// i18n
const { lang } = Astro.params as any
const t = useTranslations(lang)

// Data and translations
const testimonialsKeys = ['ana', 'erick', 'gabriel']
const testimonials = t('testimonials.quotes')
---

<section
  id='team'
  class='container'
>
  {
    testimonialsKeys.map((testimonialsKey) => {
      const testimonial = testimonials[testimonialsKey]

      return (
        <TestimonialCard
          imageSrc={`/testimonials/${testimonial.name}.webp`}
          imageAlt={`${t('general.photoAlt')} ${testimonial.name}`}
          name={testimonial.name}
          quote={testimonial.quote}
        />
      )
    })
  }
</section>
