---
import TestimonialCard from '../ui/TestimonialCard.astro'

const testimonials = {
  name: 'Anne Carpentier',
  quote:
    "Omar, I thank you so much for all your hard work and great communication skills, I really liked what you did for us. It was great to find you because I haven't heard from you before. I will send you all my clients so that you and I can continue working together.",
  imageAlt: 'Photo of ',
}
---

<section
  id='team'
  class='container'
>
  <TestimonialCard
    imageSrc={`/testimonials/${testimonials.name}.webp`}
    imageAlt={`Photo of ${testimonials.name}`}
    name={testimonials.name}
    quote={testimonials.quote}
  />
</section>
