---
// Styles
import 'swiper/css';
import 'swiper/css/effect-fade';
import 'swiper/css/autoplay';

// Libs
import { clsx } from 'clsx';

// Components
import InfoCard from '../ui/InfoCard.astro';
---

<section
  class={clsx('container', '!max-w-xl')}
  id='why-us'
>
  <div class='swiper'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide flex flex-col items-center justify-center py-12'>
        <InfoCard
          imageSrc='/why-us/experience.webp'
          imageAlt='Foto de concierto en cancún'
          text='Más de 20 años de experiencia en Destination Management.'
          class={clsx('mx-auto')}
        />
      </div>
      <div class='swiper-slide flex flex-col items-center justify-center'>
        <InfoCard
          imageSrc='/why-us/experience.webp'
          imageAlt='Foto de concierto en cancún'
          text='Más de 20 años de experiencia en Destination Management.'
          class={clsx('mx-auto')}
        />
      </div>
      <div class='swiper-slide flex flex-col items-center justify-center'>
        <InfoCard
          imageSrc='/why-us/experience.webp'
          imageAlt='Foto de concierto en cancún'
          text='Más de 20 años de experiencia en Destination Management.'
          class={clsx('mx-auto')}
        />
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Autoplay, EffectFade } from 'swiper/modules';

  // Initialize Swiper with required modules
  const swiper = new Swiper('.swiper', {
    modules: [Autoplay, EffectFade],
    loop: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    slidesPerView: 1,
    effect: 'fade',
    fadeEffect: {
      crossFade: true, // Optional: makes the fade smoother
    },
  });

  // Add click event listener to each slide
  document.querySelectorAll('.swiper-slide').forEach((slide, index) => {
    slide.addEventListener('click', () => {
      // Check if it's the last slide
      if (index === swiper.slides.length - 1) {
        swiper.slideTo(0); // Go to the first slide
      } else {
        swiper.slideTo(index + 1); // Go to the next slide
      }
    });
  });
</script>
