---
import TestimonialCard from '../components/ui/TestimonialCard.astro'
import FullWidthMedia from '../components/ui/FullWidthMedia.astro'
import InfoCard from '../components/ui/InfoCard.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import Gallery from '../components/sections/Gallery.astro'
---


<Layout>
  <!-- Llamas al componente FullWidthMedia aquí -->
  <FullWidthMedia
    src='/test-fullmediawidth.mp4'
    isVideo={true}
  />

  <FullWidthMedia
    src='/test-fullmediawidth.jpg'
  />

  <!-- Aquí le pasas "hola" como prop titulo -->
  <TestimonialCard
    imageAlt='descripcion-por-definir'
    imageSrc='/test-testimonial.jpg'
    name='Anne Carpentier, Productora/Sr Meeting Planner, Jackson Dawson Communications'
    quote='"No podemos agradecerles lo suficiente por todo lo que hicieron por nosotros durante los últimos meses... y especialmente esta semana. por mucho el mejor DMC con el que hemos trabajado. Realmente no hay palabras para expresar lo increíble de su trabajo. Realmente espero que volvamos a trabajar juntos en un futuro cercano."'

  />

  <InfoCard
    imageAlt='descripcion-por-definir'
    imageSrc='/test-infocard.jpg'
    text='Más de 20 años de experiencia en Destination Management.'
  />
</Layout>

<section>
  <h1>Mi página de galería</h1>
  <Gallery />
</section>