---
import Layout from "../layouts/Layout.astro";
import Link from "../components/ui/Link.astro";
import Title from "../components/ui/Title.astro";
import InfoCircleCard from "../components/ui/InfoCircleCard.astro";
---

<Layout>
  <Title isH1={true}>H1 Prueba</Title>
  <Link href="https://www.youtube.com/" target="_blank">Hijo</Link>

  <InfoCircleCard
    imageBgSrc="../src/assets/test1.jpg"
    imageTopSrc="../src/assets/test1.jpg"
    imageAlt="Hola"
	title="Excelencia en el Servicio"
	text="Inspirados por una trayectoria de más de dos décadas en hospitalidad de lujo, en Cancun Concierge nos comprometemos a anticipar necesidades, cuidar cada detalle y superar expectativas en cada experiencia."
  />
  <Title>H2 Prueba</Title>
  <Link href="#" class="mx-2 my-3">LEARN MORE</Link>
</Layout>