---
// Layout
import Layout from '../../layouts/Layout.astro'

// Sections
import FullWidthVideo from '../../components/ui/FullWidthVideo.astro'
import WhatWeDo from '../../components/sections/WhatWeDo.astro'
import Team from '../../components/sections/TeamMenu'
import Video from '../../components/ui/Video.astro'

// Libs
import { useTranslations } from '../../i18n/utils'
import { getStaticPathsLangs } from '../../libs/getStaticPaths'

// i18n
export const getStaticPaths = getStaticPathsLangs
const { lang } = Astro.params as any
const t = useTranslations(lang)
---

<Layout>
  <FullWidthVideo
    src='/videos/about.mp4'
  />
  <WhatWeDo />
  <Team
    client:load
    lang={lang}
  />
  <div class="container">
    <Video
      src='/videos/about-footer.mp4'
      overlaySrc='/overlays/about-footer.webp'
      bgPlay={false}
    />
  </div>
</Layout>
