---
// Layout
import Layout from '../../layouts/Layout.astro'

// Sections
import TransportationForm from '../../components/sections/Forms.tsx'

// Libs
import { useTranslations } from '../../i18n/utils'
import { getStaticPathsLangs } from '../../libs/getStaticPaths'

// i18n
export const getStaticPaths = getStaticPathsLangs
const { lang } = Astro.params as any
const t = useTranslations(lang)
---

<Layout>
    <h1>{t('transportation.title')}</h1>
    <TransportationForm client:load />
</Layout>
