---
// Components
import Title from '../../ui/Title.astro'
import ServicesCards from '../../ui/riviera/ServicesCards.astro'

// Libs
import { useTranslations } from '../../../i18n/utils'

// Props
interface Props {
  className?: string
}

const { className } = Astro.props

// i18n
const { lang } = Astro.params as any
const t = useTranslations(lang)
---

<section
  class:list={['services', 'container', className]}
  id='services'
>
  <Title class:list={['!text-center', 'mb-18']}>{t('transportation.services.title')}</Title>
  <ServicesCards />
</section>
