---
// props
interface Props {
  youtubeSrc: string,
}

const { youtubeSrc } = Astro.props

// Components
import FullWidthMedia from './base/FullWidthMedia.astro'

// get video id 
const videoId = youtubeSrc.split('/').pop()?.split('?')[0] || ''
---

<FullWidthMedia>
  <div
    class:list={[
      'relative',
      'w-screen',
      'mx-auto',
      'overflow-hidden'
    ]}
    style="aspect-ratio: 16/9; max-width: 100vw;"
  >
    <iframe
      src={`${youtubeSrc}?autoplay=1&controls=0&mute=1&rel=0&modestbranding=1&showinfo=0&loop=1&playlist=${videoId}`}
      title="cancunconciergedmc resdisign promo video no audio"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      width="100%"
      height="100%"
      class:list={[
        'absolute',
        'object-cover',
        'parallax',
        'pointer-events-none',
        'left-1/2',
        'top-1/2',
        'transform',
        '-translate-x-1/2',
        '-translate-y-1/2',
        'w-[115%]',
        'h-[115%]',
      ]}
    ></iframe>
  </div>
</FullWidthMedia>