---
import clsx from 'clsx'

interface Props {
  src: string;
  isVideo?: boolean;
}

const { src, isVideo = false } = Astro.props;

const logoSrc = "/logo.webp";
---

<div class='w-full h-screen'>
  {
    isVideo ? (
      <video
        src={src}
        autoplay
        muted
        loop
        class={clsx('w-screen', 'h-screen', 'object-cover')}
      />
    ) : (
      <img
        src={src}
        alt='Imagen dinámica'
        class={clsx('w-screen', 'h-screen', 'block', 'object-cover')}
      />
    )
  }

  <img 
    src={logoSrc} 
    alt="Logo inferior" 
    class={clsx(
    "absolute",
    "top-5",
    "right-10",
    "p-4", 
    "w-60",
    "h-40", 
    "z-0")}
  />
</div>
