---
const images = import.meta.glob('/public/galery/*.{jpg,jpeg,png,webp}', {
  eager: true,
  as: 'url',
});

const imageUrls = Object.values(images);
---

<h2 class="text-2xl">Galería de imágenes</h2>
<div class="columns-[320px] gap-2 space-y-3">
  {imageUrls.map((url) => (
    <img
      src={url}
      alt="imagen de prueba"
      class="w-full rounded-lg break-inside-avoid"
    />
  ))}
</div>

