---
import clsx from 'clsx'

interface Props {
  imageSrc: string
  imageAlt: string
  text: string
  class?: string
}

const {
  imageSrc,
  imageAlt,
  text,
  class: className = 'clase',
} = Astro.props as Props
---

<div
  class={clsx(
    'w-full',
    'max-w-80',
    'duration-300',
    'group-hover:scale-105',
    className,
  )}
>
  <img
    src={imageSrc}
    alt={imageAlt}
    class={clsx('w-full', 'h-auto', 'object-cover')}
  />
  <p class='mt-2 px-4 text-center text-sm'>
    {text}
  </p>
</div>
