---
import clsx from 'clsx'

interface Props {
  imageSrc: string
  imageAlt: string
  text: string
  class?: string
}

const { imageSrc, imageAlt, text, class: className = 'clase' } = Astro.props as Props
---

<div class={clsx(
  "w-80", // Mismo ancho que la imagen
  "transition-transform duration-300 hover:scale-105",
  className
)}>
  <img
    src={imageSrc}
    alt={imageAlt}
    class={clsx(
      "w-full h-80 object-cover rounded-lg", // Usa w-full para que ocupe el 100% del contenedor
    )}
  />
  <p class="mt-2 p-2 text-center text-pretty break-words"> 
    {/* text-pretty evita desbordamientos, break-words rompe palabras largas */}
    {text}
  </p>
</div>