---
import clsx from 'clsx'

interface Props {
  imageSrc: string
  imageAlt: string
  text: string
  class?: string
}

const { imageSrc, imageAlt, text, class: className = 'clase' } = Astro.props as Props
---

<div class={clsx(
  "w-240 h-240", 
  "transition-transform duration-300 hover:scale-105",
  className
)}>
  <img
    src={imageSrc}
    alt={imageAlt}
    class={clsx(
      "w-full",
      "h-full", 
      "object-cover",
       "rounded-lg" 
    )}
  />
  <p class={clsx(
    "mt-2", 
    "p-10", 
    "text-center", 
    "text-5xl"
  )}> 
    {text}
  </p>
</div>