---
import clsx from 'clsx'

interface Props {
  imageSrc: string
  imageAlt: string
  text: string
  class?: string
}

const { imageSrc, imageAlt, text, class: className = 'clase' } = Astro.props as Props
---

<div class={clsx(
  
  "w-240",
  "h-120", 
  "duration-300",
  "hover:scale-105",
  className
)}>
  <img
    src={imageSrc}
    alt={imageAlt}
    class={clsx(
      "w-80",
      "h-80", 
      "object-cover",
    )}
  />
  <p class={clsx(
    "mt-2", 
    "p-10", 
    "text-center", 
    "text-sm"
  )}> 
    {text}
  </p>
</div>