---
interface Props {
  href: string;
  target?: string;
}

const { href, target = "_self",  }: Props = Astro.props;
---

<a
  href={href}
  target={target}
  class="font-title no-underline border-2 border-blue text-blue hover:bg-blue hover:text-white duration-300 cursor-pointer px-4 py-2 rounded hover:scale-110 inline-block"
>
  <slot/>
</a>
