---
// Libs
import { clsx } from 'clsx';

// Props
interface Props {
  links: Array<{ text: string; url: string; copy?: boolean }>;
  target?: string;
  aos?: string;
}

const { links, target = "_blank", aos = "" } = Astro.props as Props;
---

<ul
  class={clsx(
    'list',
    'flex',
    'flex-col md:flex-row',
    'gap-4 md:gap-12',
    'text-center md:text-left',
    'justify-center',
    'w-full'
  )}
  data-aos={aos}
>
  {
    links.map((link) => {
      return (
        <li>
          <a
            href={link.url}
            target={target}
            class={clsx(
              'text-lg',
              'opacity-60 hover:opacity-100',
              'uppercase',
              'duration-300',
              'text-white hover:text-gold',
              'text-sm md:text-base',
            )}
          >
            {link.text}
          </a>
        </li>
      );
    })
  }
</ul>