---
// Style
import { titleClasses } from '../../styles/classes';

// Libs
import { clsx } from 'clsx';

interface Props {
  isH1?: boolean;
  class?: string

}

const { isH1 = false, class: className = ''} = Astro.props;

---
{isH1 ? (
  <h1 class={clsx(titleClasses, className)}>
    <slot />
  </h1>
) : (
  <h2 class={clsx(titleClasses, className)}>
    <slot />
  </h2>
)}
