---
import { clsx } from 'clsx';

interface Props {
  isH1?: boolean;
}

const { isH1 = false } = Astro.props;

const clases = clsx(
  'text-3xl',
  'font-bold',
  'text-black',
  'font-title',
  'tracking-wide',
  'leading-tight',
  'my-6',
);
---

{isH1 ? (
  <h1 class={clases}>
    <slot />
  </h1>
) : (
  <h2 class={clases}>
    <slot />
  </h2>
)}
