---
import { titleClasses } from '../../styles/classes';

interface Props {
  isH1?: boolean;
}

const { isH1 = false } = Astro.props;

---

{isH1 ? (
  <h1 class={titleClasses}>
    <slot />
  </h1>
) : (
  <h2 class={titleClasses}>
    <slot />
  </h2>
)}
